@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap");

*{
    margin: 0;
    font-weight: bold;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

.button,.runButton {
    background-color: rgba(119, 161, 115, 0.5); 
    color: white; 
    border: none; 
    border-radius: 24px; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 20px; 
    font-family: Poppins;
}

.button:hover {
    background-color: rgba(54, 109, 44, 0.7); 
}

#largestContainer, #gameContainer{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Poppins;
}

#rulesSection, #gameBody{
    position: relative;
    background-image: url('./images/bgimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}

#startGameSection{
    background-color: #2e2d2a;
    height: 100vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rulesSection{
    height: 100vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-game-section-content{
    margin: 20px;
    padding: 20px;
}

.rules-section-content{
    margin-left: 8vw;
    margin-right: 10vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1.start-game-section-content{
    font-size: 7vh;
}

h2.start-game-section-content {
    font-size: 5vh;
}

p.start-game-section-content {
    font-size: 3.5vh;
    cursor: pointer;
}

h1.rules-section-content{
    font-size: 7vh;
    position: absolute;
    top: 70px;
}


h2.rules-section-content{
    font-size: 4vh;
    position: absolute;
    top: 260px;
}

p.rules-section-content{
    font-size: 3vh;
    position: absolute;
    top: 340px;
}

.button.rules-section-content{
    width: fit-content;
    position: absolute;
    bottom: 90px;
}

.score-board{
    background-color: #3e4448;
    height:50vh;
    width: 25vw;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
}

#game{
    position: relative;
    height: 100vh;
    width: 50vw;
}

#gameContainer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-lable{
    font-size: 30px;
}

.score{
    font-size: 35px;
}

h1.game-section-content{
    font-size: 50px;
    position: absolute;
    top: 50px;
}

h2.game-section-content{
    position: fixed;
    top: 130px;
}

.hand-img {
    margin: 20px;
    width: 250px;
}

#buttonDiv{
    position: absolute;
    bottom: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
}

#numberDiv{
    visibility:hidden;
    position: absolute;
    bottom: 15vh;
    width: 15vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#numberDiv .button{
    margin: 10px;
}

#musicDiv{
    position: absolute;
    top: 10px;
    left: 10px;
}